* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  width: 100vw;
}
header {
  background-color: #000000;
}
.internal-wrapper .link-wrapper {
  width: 1050px;
  height: 50px;
  margin: 0 auto;
}
.menu-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu-wrapper li {
  padding: 15px 0 10px 0;
}
.menu-wrapper li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 100;
}
.menu-wrapper li a img {
  width: 19px;
}
section.internal-wrapper {
  height: auto;
}
.first-internal-wrapper {
  background-color: #fafafa;
}
.internal-wrapper .first-internal-wrapper,
.internal-wrapper .second-internal-wrapper,
.internal-wrapper .third-internal-wrapper {
  /* width: 1050px; */
  margin: 0 auto;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.small-title {
  font-size: 1.4rem;
  font-weight: 300;
}
.big-title {
  font-size: 3.8rem;
  font-weight: 700;
}
.midem-title {
  font-size: 3rem;
}
.link-more-wrapper ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.link-more-wrapper ul li a {
  text-decoration: none;
  color: #06c;
  font-size: 1.3rem;
}
.link-more-wrapper ul li a:hover {
  color: #000000;
}
.link-more-wrapper ul li a:after {
  content: "\f105";
  padding-left: 5px;
}
.image-wrapper {
  margin-top: 10px;
}

.internal-wrapper:nth-of-type(2) {
  background-image: url(/Resources/apple-html-css-replica/images/home/iphone11-pro-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  height: 680px;
  width: 100vw;
}

.second-internal-wrapper .midem-title {
  font-size: 1.5rem;
}
.second-internal-wrapper .small-title {
  font-size: 1.1rem;
}

.internal-wrapper:nth-of-type(3) {
  background-image: url(/Resources/apple-html-css-replica/images/home/iphone11-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: #ffffff; */
  height: 680px;
  width: 100vw;
}
.internal-wrapper:nth-of-type(4) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.four-internal-wrapper {
  display: flex;
  gap: 20px;
  width: 100vw;
  flex-wrap: nowrap;
}
.four-internal-wrapper .card-wrapper {
  width: 50vw;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  padding-top: 2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-left-1 {
  background-image: url(/Resources/apple-html-css-replica/images/home/watch-series-5.jpg);
}
.card-right-1 {
  background-image: url(/Resources/apple-html-css-replica/images/home/apple-card.jpg);
}
.card-left-2 {
  background-image: url(/Resources/apple-html-css-replica/images/home/apple-tv-background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.card-left-2 ul li {
  font-size: 1.2em;
  list-style: none;
}
.card-left-2 ul li a::after {
  content: "\f105";
  margin-left: 1rem;
}
.card-left-2 ul li a {
  text-decoration: none;
  cursor: pointer;
}
.card-right-2 {
  background-color: #000000;
  color: #ffffff;
}
.card-left-3 {
  background-color: #fafafa;
}
.card-right-3 {
  background-image: url(/Resources/apple-html-css-replica/images/home/new-ipad.jpg);
}
footer {
  width: 100%;
  background-color: #f5f5f7;
}
footer .internal-wrapper {
  margin: 0 auto;
  width: 1000px;
}
.description-text-wrapper {
  text-align: justify;
  line-height: 1.4em;
  color: #86868b;
  padding-top: 30px;
  font-size: 0.8em;
}
footer hr {
  margin: 20px 0;
}
footer a {
  color: #86868b;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
.link-footer-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.link-footer-wrapper h2 {
  font-size: 0.9em;
  font-weight: 540;
}
.link-footer-wrapper ul {
  list-style: none;
  font-size: 0.8em;
  line-height: 2em;
  margin-bottom: 30px;
}
.footer-lower-wrapper {
  font-size: 0.8em;
  color: #86868b;
}
.footer-lower-wrapper a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.footer-last-link-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  color: #86868b;
  padding-bottom: 30px;
}
.footer-last-link-wrapper ul,
.footer-country-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}
.footer-last-link-wrapper ul li::after {
  font-family: FontAwesome;
  content: "\f146";
  margin-left: 5px;
  color: #86868b;
}
